
.centerDiv{
  margin: 0 0rem;
}
.mine,
.enemy {
  display: flex;
  font-family: monospace;
}
.mine {
  justify-content: flex-end;
}
.enemy {
  justify-content: flex-start;
}
.mineMsg,
.enemyMsg {
  display: flex;
  flex-direction: column;
}
.mineMsg p{
    margin: 0 0.5rem 0 auto;
}
.name {
  margin-left: 0.5rem;
  color: #999999;
}
.myImgAndText,
.enemyImgAndText {
  display: flex;
  align-items: center;
  color: #fafafa;
}
.myImgAndText {
  flex-direction: row-reverse;
}
.profileImg {
  width: 40px;
  border-radius: 50%;
  margin: 0.1rem 0.7rem 0.5rem 0.5rem;
  border: 0.7px solid #fafafa;
}
.photuDiv{
  border: 1px solid transparent;
  height: 400px;
  width:auto;
}
.photu{
    height: 100%;
    width:auto;
    object-fit: scale-down;
    overflow: hidden;
  }

.text {
  background-color: #252525;
  padding: 1rem;
  border-radius: 25px;
  max-width: 85vw;
  max-height: auto;
  overflow: hidden;
  font-size: larger;
}
.myText {
  background-color: #2971e7;
  
}
.outerFormDiv{
  position: absolute;
  bottom: 0;
  width:100%;
  padding:0 2rem 0 1rem ;
}
.formDiv{
  display: flex;
  justify-content:center;
}
.formDiv form{
  display: flex;
  background-color: #252525;
  width : 100%;
  border-radius: 25px;
  border:none;
  text-decoration: none;
}

.formDiv input{
  background-color: #252525;
  border: none;
  color: #F9F9F9;
  font-family: monospace;
  font-size:1.2rem;
  width: 100%;
  margin:0 1rem 0 1rem;

}
input:focus{
  outline: none;
}
.submitBtn{
  padding:.4rem;
  background-color:#252525;
  margin: 0 1.5rem 0 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button {
    border: none;
}

button:focus {
    border: none;
    outline: none;
}

button:focus{
    outline:none !important;
}


#button{
  font-family: 'Ubuntu', sans-serif;
  width: 170px;
  height: 40px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 3px solid #50C878	;
  background: #fff;
  color: #50C878	;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s;
}

#button:hover{
  background: #50C878	;
  color: #fff;
}

#button span{
  opacity: 1;
  visibility: visible;
  transition: all .35s;
}

.success{
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .35s;
}

.LogoImages{
  filter:invert(0.9);
}

@media only screen and (max-width: 1000px) {
  .photuDiv{
    height: 300px;
  }
}

@media only screen and (max-width: 700px) {
  .photuDiv{
    height: 200px;
  }
}

@media only screen and (max-width: 480px) {
  .text {
    font-size:12px;
    max-width: 70vw;
  }
  .photuDiv{
    height: auto;
    width:100%;
  }
  .photu{
      height: auto;
      width:100%;
      object-fit: scale-down;
      overflow: hidden;
    }
}