.centerDiv{
  margin: 0 1rem;
}
.mine,
.enemy {
  display: flex;
  font-family: monospace;
}
.mine {
  justify-content: flex-end;
}
.enemy {
  justify-content: flex-start;
}
.mineMsg,
.enemyMsg {
  display: flex;
  flex-direction: column;
}
.mineMsg p{
    margin: 0 0.5rem 0 auto;
}
.name {
  margin-left: 0.5rem;
  color: #999999;
}
.myImgAndText,
.enemyImgAndText {
  display: flex;
  align-items: center;
  color: #fafafa;
}
.myImgAndText {
  flex-direction: row-reverse;
}
.profileImg {
  width: 40px;
  border-radius: 50%;
  margin: 0.1rem 0.7rem 0.5rem 0.5rem;
  border: 0.7px solid #fafafa;
}
.text {
  background-color: #252525;
  padding: 1rem;
  border-radius: 25px;
}
.myText {
  background-color: #2971e7;
  
}

.formDiv{
    width: 100%;
    margin:0;
    position: absolute;
    bottom: 0;


}
.formDiv form{
    display: flex;
    border: none;
    text-decoration: none;

} 
.formDiv input{
    width: 90%;
    background-color: #252525;
    margin: 0;
    border: none;
    font-size: 1.2rem;
    padding : 1rem 1rem 1rem 2rem;
    color: #F9F9F9;
    font-family: monospace;

}
input:focus{
    outline: none;
}
.submitBtn{
    background-color:#252525;
    width: 10%;
    display:flex;
    justify-content:center;
    align-items:center;
    border: none;
    margin: 0;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
button {
    border: none;
}

button:focus {
    border: none;
    outline: none;
}

button:focus{
    outline:none !important;
}
